.smallNews {
    flex-flow: inherit;
    padding: 0;
    margin-bottom: 20px;
    background: #fff;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    > a {
        max-width: 160px;
        overflow: hidden;
        width: 160px;
        display: block;
        position: relative;
        color: var(--text-color);
        img {
            border-radius: 7px;
        }
    }
    .content {
        width: calc(100% - 160px);
        padding-left: 10px;
        h3 {
            text-overflow: unset;
            max-height: 38px;
            white-space: normal;
            height: unset;
            margin-top: 0;
            overflow: hidden;
            padding: 0;
            display: block;
            font-size: 14px;
            font-family: var(--font-base);
            line-height: 1.4;
            font-weight: bold;
            a {
                color: var(--main-color);
            }
            a:hover {
                color: var(--hover);
            }
        }
        span {
            display: inline-flex;
            font-size: 14px;
            color: #838383;
            margin-bottom: 0;
        }
        p {
            font-size: 14px;
            color: #838383;
            margin-bottom: 0;
            max-height: 42px;
            overflow: hidden;
        }
    }
}
